@media (max-width: 1900px) {
    .product-slider__inner {
        text-align: center;
    }
    .product__item-category {
        text-align: left;
    }
}
@media (max-width: 1440px) {
    .product-slider__inner {
        .product__item {
            max-width: 560px;
        }
    }
}
@media (max-width: 1400px) {
    .products .product__item {
        flex-basis: calc(33.3333% - 30px);
        max-width: 100%;
    }
}
@media (max-width: 1270px) {
    .product-slider__inner {
        .product__item {
            max-width: 450px;
        }
    }
}
@media (max-width: 1200px) {
    .header__text {
        display: none;
    }
    .product-one__asside {
        margin-top: 0;
    }
    .tutorial__item {
        padding: 0 5px;
    }
    .product-page__inner {
        display: block;
    }
    .top-sellers {
        display: none;
    }
    .withdrawals__inner {
        display: block;
    }
    .withdrawals__col {
        max-width: 100%;
        margin-bottom: 20px;
    }
    .withdrawals__content-item {
        max-width: 490px;
    }
    .contact__form-row {
        display: block;
    }
    .contact__form input {
        width: 100%;
    }
    .productmini {
        max-width: 48%;
    }
    .product-one__inner {
        display: block;
    }
    .product-one__content,
    .aside__item,
    .product-one__images {
        max-width: 100%;
        width: 100%;
    }
    .product-page__aside {
        margin-right: 0;
    }
}
@media (max-width: 1150px) {
    .product-slider__inner {
        .product__item {
            max-width: 350px;
        }
    }
    .products .product__item {
        flex-basis: calc(50% - 30px);
        max-width: 100%;
    }
    .product__item-img {
        min-height: 225px;
    }
    .footer__inner {
        flex-wrap: wrap;
    }
    .footer__col-adress {
        margin-bottom: 30px;
        min-width: 100%;
    }
}
@media (max-width: 1000px) {
    .tutorial__inner {
        flex-wrap: wrap;
        margin-left: -20px;
    }
    .tutorial__item {
        padding: 0;
        margin-left: 20px;
        max-width: 100%;
        flex-basis: calc(50% - 20px);
        margin-bottom: 20px;
    }
    .page-404__404::after {
        width: 50px;
        height: 97px;
        background-size: cover;
    }
    .product-one__tabs.settings__tabs {
        display: block;
    }
    .product-one__tabs.settings__tabs .tabs {
        margin-bottom: 20px;
        max-width: 100%;
        margin-top: 20px;
        margin-left: 0;
    }
}

@media (max-width: 900px) {
    .product__item.new.list .product__item-star {
        margin-right: -120px !important;
    }
    // .product-page__content .product__item-star.content {
    //     margin-left: -170px;
    // }
    .icon-th-list {
        display: none;
    }
    .icon-th {
        display: block;
        color: #fff;
        font-size: 26px;
    }
    .menu__list {
        display: none;
        background-color: $bg;
        position: absolute;
        top: 150px;
        left: 0;
        right: 0;
        z-index: 1;
        text-align: center;
        a {
            display: block;
            padding: 10px 0;
            border-bottom: 1px solid #fff;
        }
        li {
            display: block;
            & + li {
                margin-left: 0;
            }
            &:first-child {
                border-top: 1px solid #fff;
            }
        }
    }
    .advantages__inner {
        display: block;
    }
    .advantages__item {
        margin-bottom: 30px;
        max-width: 100%;
    }
    .search__inner-title {
        font-size: 35px;
        line-height: 40px;
    }
    .product-page__content .product__item {
        flex-basis: calc(50% - 20px);
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .product__item.list {
        flex-basis: 100%;
    }
    .product-page__items {
        margin-left: -20px;
    }
    .footer__col-social {
        min-width: 100%;
        margin-top: 30px;
    }
    .footer__inner {
        justify-content: flex-start;
    }
    .footer__col-menu {
        + & {
            margin-left: 40px;
        }
    }
    .contact__box {
        display: block;
    }
    .profile__inner {
        flex-direction: column;
    }
    .profile__content {
        order: -1;
        margin-bottom: 20px;
    }
    .profile__asside {
        max-width: 100%;
        margin-left: 0;
        .aside__item {
            width: 100%;
        }
    }
    .profile__asside-btn {
        width: 300px;
        width: 300px;
        position: absolute;
        top: 1097px;
        left: 387px;
        margin-top: 15px;
    }
}
@media (max-width: 840px) {
    .author {
        min-height: 450px;
    }
    .product-slider__inner {
        .product__item {
            max-width: 250px;
        }
    }
    .product-one__box {
        display: block;
    }
    .product-one__link {
        margin-bottom: 20px;
    }
    .notification__menu,
    .message__menu,
    .basket__menu,
    .user__menu {
        z-index: 2;
    }
}
@media (max-width: 740px) {
    .page-404__404 {
        font-size: 200px;
        line-height: 200px;
    }
    .page-404__text {
        font-size: 15px;
        margin-bottom: 40px;
    }
    .page-404__title {
        font-size: 24px;
        margin-bottom: 20px;
        line-height: 30px;
    }
    .page-404__link {
        padding: 9px 24px 10px;
    }
    .profile__asside-btn {
        left: 275px;
        width: 260px;
    }
}
@media (max-width: 700px) {
    .notification__box,
    .message__box {
        display: none;
    }
    .basket__box {
        margin-left: 0px;
    }
    .authors__box {
        display: block;
        padding: 50px 15px;
        text-align: center;
    }
    .authors__title {
        margin-right: auto;
        margin-bottom: 20px;
        margin-left: auto;
    }
}
@media (max-width: 650px) {
    .products__inner-btn button {
        width: 100%;
        & + button {
            margin-left: 0;
        }
    }
}
@media (max-width: 640px) {
    .tutorial__item {
        flex-basis: 100%;
    }
    .product-slider__inner {
        .product__item {
            max-width: 100%;
        }
    }
    .products .product__item {
        flex-basis: 100%;
        max-width: 100%;
    }
    .product-page__content .product__item {
        flex-basis: 100%;
        max-width: 100%;
    }
    .basket__menu {
        right: auto;
    }
    .profile__asside-btn {
        position: initial;
    }
    .profile__banner-images {
        min-height: 240px;
    }
    .profile__items {
        flex-wrap: wrap;
    }
    .profile__item {
        width: 50%;
    }
    .profile__item + .profile__item {
        border-top: 1px solid #dedede;
    }
    .profile__banner {
        margin-bottom: 20px;
    }
    .productmini {
        max-width: 100%;
    }
}
@media (max-width: 600px) {
    .tab-items__list {
        column-count: 1;
        column-gap: 0px;
    }
    .product-one__images {
        height: 300px;
    }
    .personal-box {
        padding: 35px 10px 25px;
    }
    .profile__asside-btn {
        max-width: 280px;
    }
    .upload__line select,
    .upload__line input,
    .upload__line textarea {
        padding: 0 5px;
    }
    .page-404__404::after {
        top: 79px;
        right: 50px;
        margin-left: 0px;
    }
    .page-404__inner {
        padding: 0 15px;
    }
    .page-404__404 {
        font-size: 120px;
        line-height: 120px;
    }
    .page-404__link {
        margin-bottom: 50px;
    }
    .upload__line {
        display: block;
        margin-bottom: 15px;
        label {
            display: inline;
        }
    }
    .upload__inner button {
        margin-left: 0;
    }
    .upload__inner-content {
        padding-left: 10px;
        padding-right: 10px;
    }
    .upload__inner-title {
        padding: 16px 10px 18px;
    }
    .settings__line {
        display: block;
        label {
            display: inline-block;
            margin-bottom: 5px;
        }
    }
    .page-box__content {
        padding: 10px 10px 10px;
    }
    .page-box__title {
        padding: 20px 10px;
    }
    .contact__inner {
        padding: 9px 8px 20px;
    }
    .contact__head {
        padding-left: 10px;
        padding-right: 10px;
    }
    .product-one__tabs {
        .tabs {
            display: block;
            .tab {
                display: block;
                & + .tab {
                    border-top: 1px solid #d7d7d7;
                }
            }
        }
    }
}
@media (max-width: 560px) {
    .product-one__link a {
        margin-bottom: 8px;
        margin-left: 19px;
    }
}
@media (max-width: 540px) {
    .footer__col {
        min-width: 100%;
    }
    .footer__col-menu {
        + & {
            margin-left: 0px;
            margin-top: 30px;
        }
    }
    .withdrawals__content {
        padding-left: 10px;
        padding-right: 10px;
    }
    .contact__map iframe {
        height: 285px;
    }
}
@media (max-width: 555px) {
    .header__menu {
        margin-bottom: -60px;
    }
    .user__box {
        margin-left: 40px;
        margin-top: 50px;
    }
    .user__info {
        display: none;
    }
    .creat-acc {
        width: 100%;
    }
    .login__wrapper button {
        margin-right: 0;
        width: 100%;
    }
    .product-slider .slick-dots li button {
        width: 13px;
        height: 13px;
    }
    .product-slider .slick-dots li {
        margin-left: 2px;
        margin-right: 2px;
    }
    .page-404__404::after {
        top: 79px;
        right: 0px;
        margin-left: 0px;
    }
    .withdrawals__content-item {
        min-width: 490px;
    }
    .withdrawals__content-items {
        overflow-x: scroll;
    }
    .header__btn-menu,
    .icon-th {
        display: block;
    }
    .menu__list {
        top: 70px;
    }
    .header__btn-menu {
        height: 70px;
        width: 60px;
        background-color: $grey;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 4;
        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 34px;
            color: #000;
        }
    }
    .header__box {
        transition: all 0.5s;
        position: absolute;
        background-color: #f4f6f5;
        height: 70px;
        left: 100%;
        right: -100%;
        z-index: 2;
        &.active {
            left: 70px;
            right: 90px;
        }
    }
    .user__menu {
        top: 55px;
    }
    .header__logo {
        margin-left: 60px;
    }
    .menu__btn {
        .icon-th:before {
            color: #000;
            top: 24px;
            font-size: 26px;
            position: absolute;
        }
    }
    .header__top-inner {
        height: 70px;
    }
    .basket__menu {
        top: 53px;
    }
}
@media (max-width: 495px) {
    .page-404__head,
    .about__head,
    .contact__head {
        padding: 16px 20px;
    }
    .about__box h3 {
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .about__box p {
        margin-bottom: 20px;
    }
    .user__images {
        margin-right: 0;
    }
    .user__box {
        margin-top: 55px;
    }
    .user__menu {
        top: 53px;
    }
    @media (max-width: 470px) {
        .login__title {
            font-size: 40px;
        }
        .user__box {
            margin-left: 0px;
            margin-top: 55px;
        }
    }

@media (max-width: 400px) {
    .fancybox-content {
        padding: 44px 10px;
    }
    .tab_content {
        padding: 20px 15px;
    }
    .product-one__link a {
        width: 100%;
        margin-left: 0;
    }
    .product-one__link a + a {
        margin-left: 0;
    }
    .page-404__404::after {
        display: none;
    }
    .contact__info-item {
        margin-bottom: 20px;
    }
}

@media (max-width: 390px) {
    .login__title {
        font-size: 36px;
    }
    .header__box {
        &.active {
            left: 47px;
        }
    }
}
}

@media (max-width: 360px) {
    .user {
        margin-right: 0;
    }
    .basket__menu {
        left: -20px;
    }
    .header__btn-logout {
        margin-left: 115px;
        position: absolute;
    }
    .header__btn-login {
        position: absolute;
        margin-left: 44px;
    }
    .header__btn-register {
        position: absolute;
        margin-left: 120px;
    }
    .profile__item {
        width: 100%;
    }
    .profile__items {
        display: block;
    }
    .profile__item + .profile__item {
        border-top: 1px solid #dedede;
        border-left: none;
    }
}

@media (min-width: 900px) {
    .menu__list {
        display: block !important;
        color: #b7c3c8;
    }
}
